
Geojson_Mex/Shape_Mex.zip
Data/Cierre_agricola__2003_2023_Clean.csv
Data/MexicoData.csv
Geojson_Mex/coloniasine2020.geojson
Geojson_Mex/Municipios_Mexico.json
Geojson_Mex/Municipios_Mexico_Simple_WGS84.json
Geojson_Mex/MunicipiosMexico2017.json
